In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [183]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1128,tt0348836,40000000,141591324,Gothika,Halle Berry|Robert Downey Jr.|Charles S. Dutto...,Mathieu Kassovitz,Because someone is dead doesn't mean they're g...,"After a car crash, a criminal psychologist (Ha...",98,Horror|Thriller,Columbia Pictures Corporation|Dark Castle Ente...,11/21/2003,5.8,2003
214,tt1430612,28000000,68896829,Brick Mansions,Paul Walker|David Belle|RZA|Robert Maillet|Car...,Camille Delamarre,Undercover and never Outgunned,"In a dystopian Detroit, grand houses that once...",90,Action|Crime|Drama,Canal+|EuropaCorp|CinÃ©+|D8,4/22/2014,5.8,2014
1045,tt1568338,42000000,46221189,Man on a Ledge,Sam Worthington|Elizabeth Banks|Jamie Bell|Ed ...,Asger Leth,You can only push an innocent man so far,An ex-cop turned con threatens to jump to his ...,102,Action|Thriller|Crime,Summit Entertainment|Di Bonaventura Picture,1/13/2012,6.2,2012
1532,tt0450232,55000000,65664721,16 Blocks,Bruce Willis|Mos Def|David Morse|Jenna Stern|D...,Richard Donner,"For a New York cop and his witness, the distan...",An aging cop is assigned the ordinary task of ...,105,Action|Adventure|Crime|Thriller,Donners' Company|Cheyenne Enterprises|Alcon En...,3/1/2006,6.1,2006
1827,tt0223897,40000000,55707411,Pay It Forward,Kevin Spacey|Helen Hunt|Haley Joel Osment|Jay ...,Mimi Leder,"When someone does you a big favor, don't pay i...","Like some other kids, 12-year-old Trevor McKin...",122,Drama|Romance,Bel Air Entertainment|Warner Bros.,10/12/2000,6.8,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [22]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [85]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [86]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [87]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals tt0279111'

In [88]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [89]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [90]:
answers['3'] = '3. Winnie the Pooh tt1449283'

# 4. Какова средняя длительность фильмов?

In [91]:
data.runtime.mean()

109.6585494970884

In [92]:
answers['4'] = '3. 110'

# 5. Каково медианное значение длительности фильмов?

In [93]:
data.runtime.median()

107.0

In [94]:
answers['5'] = '5. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [95]:
data['profit'] = data.revenue - data.budget
data[data.profit ==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [96]:
answers['6'] = '6. Avatar tt0499549'

# 7. Какой фильм самый убыточный?

In [97]:
data[data.profit ==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [98]:
answers['7'] = '7. The Lone Ranger tt1210819'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [99]:
data[data.revenue > data.budget].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [100]:
answers['8'] = '8. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [101]:
data1 = data[data.release_year == 2008]
data1[data1.revenue == data1.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [102]:
answers['9'] = '9. The Dark Knight tt0468569'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [103]:
data2 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data2[data2.profit == data2.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [104]:
answers['10'] = '10. The Lone Ranger tt1210819'

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [105]:
data_split = data['genres'].str.split('|', expand=False)
data_col = data_split.explode().value_counts()
data_col

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [106]:
answers['11'] = '11. Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [110]:
data2.copy()
data2['genres_list'] = data2['genres'].str.split('|')
data2 = data2.explode('genres_list')
data_profit = data2[(data2.profit > 10000000)]
data_profit_1.value_counts(ascending=False)

Drama              97
Action             92
Comedy             88
Thriller           73
Adventure          68
Science Fiction    46
Family             38
Fantasy            36
Crime              36
Animation          30
Romance            27
Horror             25
War                10
Mystery             9
Music               9
History             8
Western             1
Documentary         1
Name: genres_list, dtype: int64

In [111]:
answers['12'] = '12. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [112]:
dir_split = data['director'].str.split('|', expand=False)
dir_col = dir_split.explode().value_counts()
data.groupby('director').revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [118]:
answers['13'] = '13. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [114]:
only_action = data[data.genres.str.contains('Action')].copy()
only_action['director'] = only_action['director'].str.split('|')
only_action = only_action.explode('director')
only_action.director.value_counts()

Robert Rodriguez        9
Michael Bay             7
Paul W.S. Anderson      7
Antoine Fuqua           6
Ridley Scott            6
                       ..
Adam Shankman           1
Tamra Davis             1
Mark Andrews            1
Paul Verhoeven          1
Nicolas Winding Refn    1
Name: director, Length: 364, dtype: int64

In [117]:
answers['14'] = '14. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [116]:
data_15 = data[data.release_year == 2012].copy()
data_15['cast'] = data_15['cast'].str.split('|')
data_15 = data_15.explode('cast')
data_15.groupby('cast').revenue.sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [119]:
answers['15'] = '15. Robert Rodriguez'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [120]:
data_16 = data[data.budget > data.budget.mean()].copy()
data_16['cast'] = data_16['cast'].str.split('|')
data_16 = data_16.explode('cast')
data_16.groupby('cast').budget.count().sort_values(ascending=False)

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: budget, Length: 1505, dtype: int64

In [121]:
answers['16'] = '16. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [166]:
data_17 = data[data.cast.str.match("Nicolas Cage")].copy()
data_17['cast'] = data_17['cast'].str.split('|')
data_17['genres'] = data_17['genres'].str.split('|')
data_17 = data_17.explode('genres')
data_17.groupby(data_17.cast == 'Nicolas Cage').genres.value_counts().sort_values(ascending=False)

cast   genres
False  Action             16
       Thriller           15
       Drama              12
       Crime               9
       Fantasy             7
       Adventure           6
       Comedy              5
       Science Fiction     4
       Mystery             3
       History             2
       Family              2
       Animation           2
       War                 1
       Romance             1
       Horror              1
Name: genres, dtype: int64

In [169]:
answers['17'] = '17. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [168]:
data_18 = data[data.production_companies.str.match("Paramount Pictures")].copy()
data_18['production_companies'] = data['production_companies'].str.split('|')
data_18.groupby(data.original_title).profit.sum().sort_values()

original_title
K-19: The Widowmaker                    -64831034
Timeline                                -60519261
Next                                    -51788987
Alfie                                   -46604061
Twisted                                 -24805000
                                          ...
Mission: Impossible - Rogue Nation      532330139
Mission: Impossible - Ghost Protocol    549713380
Transformers                            559709780
Transformers: Revenge of the Fallen     686297228
Transformers: Dark of the Moon          928746996
Name: profit, Length: 121, dtype: int64

In [170]:
answers['18'] = '18. K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [172]:
data.groupby(data.release_year).revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [173]:
answers['19'] = '19. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [174]:
data_20 = data[data.production_companies.str.contains("Warner Bros")].copy()
data_20['production_companies'] = data['production_companies'].str.split('|')
data_20.groupby(['release_year']).profit.sum().sort_values(ascending = False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [175]:
answers['20'] = '20. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [176]:
data_m = data.release_date.str.split('/')
data['release_date'] = data_m.apply(lambda x: x[0])
data.groupby(data.release_date).original_title.count().sort_values(ascending=False)

release_date
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

In [177]:
answers['21'] = '21. сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [178]:
data_m = data.release_date.str.split('/')
data['release_date'] = data_m.apply(lambda x: x[0])
data[(data.release_date == '6') | (data.release_date == '7') | (data.release_date == '8')].count()

imdb_id                 450
budget                  450
revenue                 450
original_title          450
cast                    450
director                450
tagline                 450
overview                450
runtime                 450
genres                  450
production_companies    450
release_date            450
vote_average            450
release_year            450
profit                  450
dtype: int64

In [179]:
answers['22'] = '22. 456'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [204]:
data_23 = data.copy()
data_23['release_date'] = data_23['release_date'].str.split('/')
data_23['director'] = data_23['director'].str.split('|')
data_23 = data_23.explode('director')
data_23['release_date'] = data_23['release_date'].apply(lambda x: x[0])
data_23 = data_23[(data_23.release_date == '12') | (data_23.release_date == '1') | (data_23.release_date == '2')]
data_23.groupby('director').release_date.value_counts().sort_values(ascending=False)

director              release_date
Peter Jackson         12              7
Clint Eastwood        12              5
Steven Soderbergh     12              4
Nancy Meyers          12              4
Steve Carr            1               3
                                     ..
Michael Spierig       1               1
Michael Sucsy         2               1
Michael Winterbottom  1               1
Michel Gondry         1               1
Jonas Elmer           1               1
Name: release_date, Length: 403, dtype: int64

In [206]:
answers['23'] = '23. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [207]:
data_24 = data.copy()
data_24['original_title'] = data_24['original_title'].str.split('')
data_24['production_companies'] = data_24['production_companies'].str.split('|')
data_24 = data_24.explode('production_companies')
data_24['original_title'] = data_24['original_title'].apply(lambda x: len(x))
data_24.groupby('production_companies').original_title.max().sort_values(ascending=[False])

production_companies
Four By Two Productions                   85
Twentieth Century Fox Film Corporation    85
Walden Media                              64
Walt Disney                               64
Jim Henson Company, The                   61
                                          ..
Everest Entertainment                      5
Berlanti Productions                       5
XM2 Productions                            4
Global Entertainment Group                 4
Ixtlan Productions                         4
Name: original_title, Length: 1771, dtype: int64

In [208]:
answers['24'] = '24. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [209]:
data_25 = data.copy()
data_25['overview'] = data_25['overview'].str.split(' ')
data_25['production_companies'] = data_25['production_companies'].str.split('|')
data_25 = data_25.explode('production_companies')
data_25['overview'] = data_25['overview'].apply(lambda x: len(x))
data_25.groupby('production_companies').overview.max().sort_values(ascending=[False])

production_companies
Lions Gate Films                         175
Lakeshore Entertainment                  175
Midnight Picture Show                    175
GreeneStreet Films                       175
Radical Studios                          169
                                        ...
Our Stories Films                         13
Phantom Four                              13
Projection Pictures                       13
Empire Pictures                           11
Motion Picture Corporation of America     11
Name: overview, Length: 1771, dtype: int64

In [210]:
answers['25'] = '25. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [212]:
data_26 = data.copy()
data_26 = data_26[data.vote_average >= 7.9]
vote = data_26.vote_average.unique()
vome_max = sorted(vote)
data_26.groupby([data_26.vote_average, data_26.original_title]).original_title.count()

vote_average  original_title
7.9           12 Years a Slave                                 1
              Gone Girl                                        1
              Guardians of the Galaxy                          1
              Inception                                        1
              Memento                                          1
              The Grand Budapest Hotel                         1
              The Lord of the Rings: The Return of the King    1
              The Pianist                                      1
              The Wolf of Wall Street                          1
8.0           Inside Out                                       1
              Interstellar                                     1
              Room                                             1
              The Imitation Game                               1
8.1           The Dark Knight                                  1
Name: original_title, dtype: int64

In [213]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [214]:
import itertools as it
data_27 = data.copy()
data_27['cast'] = data_27['cast'].str.split('|')
data_27['comb'] = data_27.cast.apply(lambda x: tuple(it.combinations(sorted(x),2)))
Counter(data_27.comb.values.sum()).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

In [215]:
answers['27'] = '27. Daniel Radcliffe, Rupert Grint'

# Submission

In [216]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe, Rupert Grint',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show',
 '1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals tt0279111',
 '3': '3. Winnie the Pooh tt1449283',
 '4': '3. 110',
 '5': '5. 107',
 '6': '6. Avatar tt0499549',
 '7': '7. The Lone Ranger tt1210819',
 '8': '8. 1478',
 '9': '9. The Dark Knight tt0468569',
 '10': '10. The Lone Ranger tt1210819',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Robert Rodriguez',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. сентябрь',
 '22': '22. 456',
 '23': '23. Peter Jackson'}

In [217]:
# и убедиться что ни чего не пропустил)
len(answers)

27